/* common-style */
* {
    font-family: 'Dancing Script', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    color: #FFFFFF;
    padding: 20px 43px;
    border-style: none;
    font-size: 20px;
    font-weight: 700;
}

/* banner-section */
.banner-section {
    display: flex;
    gap: 97px;
    background-color: rgba(229, 84, 115, 0.10);
}

.info-container {
    padding-top: 197px;
    padding-left: 240px;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 32px 0px 32px 0px;
}

.banner-photo {
    padding-top: 50px;
    padding-right: 240px;
    width: 635px;
    height: 800px;
}

/* featured-section */
.featured-section {
    background-color: #FFF;
    ;
}

.featured-info {
    padding-top: 178px;
    padding-bottom: 48px;
    text-align: center;
}

.featured-title {
    padding: 0px 700px 24px 700px;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.featured-description {
    padding: 0px 663px 0px 663px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.product-type {
    display: flex;
    gap: 24px;
    text-align: center;
    padding-left: 240px;
    padding-bottom: 128px;
}

.pink {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 78px 0px 76px;
    margin-bottom: 32px;
}

.mix {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 117px 47px 51px 47px;
    margin-bottom: 32px;
}

.yellow {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 67px 75px 0px 75px;
    margin-bottom: 32px;
}

.anchor {
    color: #272727;
    font-size: 24px;
    font-weight: 700;
}

/* hot-deal-section */
.hot-deal-section {
    display: flex;
    gap: 186px;
    background-color: rgba(229, 84, 115, 0.05);
    border-radius: 8px;
    text-align: center;
    margin-bottom: 128px;
}

.hot-deal-info {
    padding: 230px 0px 182px 0px;
}

.hot-deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-left: 300px;
}

.off {
    color: #E55473;
}

.hot-deal-description {
    padding: 24px 0px 32px 295px;

}

#sign {
    margin-left: 303px;
}

.image-eight {
    padding: 100px 429px 100px 0px;
}

/* valentine-special */
.valentine-special {
    background-color: rgba(71, 202, 209, 0.15);
    margin-bottom: 128px;
    text-align: center;
}

.valentine-title {
    color: black;
    font-weight: 800px;
    font-size: 60px;
    padding: 128px 500px 42px 500px;
}

.more {
    color: #E55473;
}

.velentine-description {
    padding: 0px 400px 38px 400px;
}

.valentine-image {
    padding-top: 38px;
    /* padding-bottom: 128px; */
}

#cheak {
    margin-bottom: 128px;
    margin-top: 28px;
}

/* instagram-section */
.instagram-section {
    text-align: center;
    background-color: #FFF;
    padding-bottom: 128px;
}

.instagram-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.instagram-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    padding: 24px 600px 48px 600px;
}

.instagram-image>img {
    padding-right: 20px;
}

/* latest-deal-section */
.latest-deal-section {
    background-image: url("../images/Rectangle\ 9.png");
    width: 1440px;
    height: 449px;
    text-align: center;
    margin-left: 220px;
    margin-bottom: 128px;
}

.latest-deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-top: 122px;
    padding-bottom: 16px;
}

.latest-deal-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

.input {
    padding-top: 48px;
}

.email {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    padding: 23px 440px 22px 22px;
    border-style: none;
    background-color: #FFF;
    border-radius: 8px;
    margin-right: 12px;
}

/* footer-section */
.footer-section {
    background-color: black;
    color: white;
    text-align: center;
    padding: 128px 0px;
}

.footer-title {
    color: #FFFFFF;
}

.flower {
    color: #E55473;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    padding: 24px 609px 32px 608px;
}

.footer-foot {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}